@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: start;
}

h1 {
  text-align: left;
  font-size: 1.5rem;
  margin-top: 4rem;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}

#app {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media (min-width: 768px) {
  h1 {
    text-align: left;
    font-size: 2.5rem;
    line-height: 1.1;
    margin-top: 4rem;
  }

  /*.home {*/
  /*  flex-direction: row;*/
  /*  align-items: start;*/
  /*  gap: 2rem;*/
  /*}*/

  .full-image {
    width: 50%;
    margin-bottom: 0;
  }

  .bathroom-cards {
    max-width: 50%;
    height: auto;
  }
}


/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
